.containerHome {
  height: 100vh;
  background-color: #f8f8f8;
  .containerContent {
    display: flex;
    flex-direction: row;
    flex: 1;
    .sideBar {
      flex: 1;
    }
    .content {
      flex: 10;
      padding-left: 50px;
      margin-top: 20px;
      .headerContent {
        text-align: left;
      }
    }
  }
}
